.container1{
    display: flex;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    flex-direction: column;
    width: 40%;
    box-shadow: 2px 2px 2px 2px grey;
    justify-content: center;
}

input[type=submit]{
    width: 150px;
    background-color: orangered;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
form a{
    width: 150px;
    background-color: #ccc;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email]{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
}
.container h2{
    color: orangered;
    margin-left: 25px;
    flex: 1;
}
.container{
    display: flex;
    background-color: beige;
}