body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.header header{
    font-family: sans-serif;
    position: relative;
    padding: 20px;
    font-size: 20px;
    padding-left: 150px;
    background-color: white;
    color: #777;
    font-weight: bold;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
}
.form{
    display: flex;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
    padding: 50px;
    box-sizing: border-box;
}
.form h2{
    color: #777;
    margin: 0 0 40px;
    padding: 0;
}
.form .input-box{
    position: relative;
    margin: 20px 0;
}
.form .input-box input{
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    font-weight: bold;
    color: #777;
}
.form .input-box input:focus,.form .input-box input:valid{
    border-bottom: 2px solid #03a9f4;
}
.form .input-box .fa{
    position: absolute;
    top: 8px;
    left: 0;
}
.form .input-box .fas{
    position: absolute;
    top: 8px;
    left: 0;
}
.form .input-box input[type=submit]{
    border: none;
    background: #03a9f4;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: 0.5%;
}
.form .input-box input[type=submit]:hover{
    background-color: #ff4987;
}
.form a{
    text-decoration: none;
    margin-top: 20px;
    color: #777;
    font-weight: bold;
    display: inline-block;
}
.form a:hover{
    color: #ff4987;
}

@media all and (max-width:700px){
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .form{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        background: #fff;
        box-shadow: 0 15px 50px rgba(0,0,0,.5);
        padding: 50px;
        box-sizing: border-box;
    }
    .form h2{
        color: #777;
        margin: 0 0 40px;
        padding: 0;
    }
    .form .input-box{
        position: relative;
        margin: 20px 0;
    }
    .form .input-box input{
        width: 100%;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #777;
        outline: none;
        padding: 10px;
        padding-left: 25px;
        box-sizing: border-box;
        font-weight: bold;
        color: #777;
    }
    .form .input-box input:focus,.form .input-box input:valid{
        border-bottom: 2px solid #03a9f4;
    }
    .form .input-box .fa{
        position: absolute;
        top: 8px;
        left: 0;
    }
    .form .input-box input[type=submit]{
        border: none;
        background: #03a9f4;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        transition: 0.5%;
    }
    .form .input-box input[type=submit]:hover{
        background-color: #ff4987;
    }
    .form a{
        text-decoration: none;
        margin-top: 20px;
        color: #777;
        font-weight: bold;
        display: inline-block;
    }
    .form a:hover{
        color: #ff4987;
    }
    
}